body{
    background-color: bisque;
    text-align: center;
}

h1{
    border: 2px solid black;
}

p{
    background-color: aqua;
}

h2{
    color: darkmagenta;
}

#A{
    color: darkmagenta;
    text-decoration-line: overline;
}

input{
    border-color: brown;
    border-width: thick;
    border-style: solid;
}

.first{
    border: 5px solid darkgray;
    background-color: darkcyan;
}

#D{
    background-color: cornflowerblue;
}